.checkout-container{
    background-color: #E0D9D0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 1.5vw;
}
.info-block{
    background-color: #ededed;
    padding: 15px;
    width: 44vw;
    min-height: 85vh;
    border-radius: 10px;
}
.cart-preview{
    background-color: #ededed;
    padding: 15px;
    width: 44vw;
    min-height: 85vh;
    border-radius: 10px;
}
.page-head{
    text-align: center;
}
body {
    background-color: #E0D9D0;
}
.required-star{
    color: #f00;
}
.shipping-form{
    background-color: #fcfcfc;
    padding: 8px;
    border-radius: 0px 0px 15px 15px;
}
.shipping-block{
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 1px;

    min-height: 50px;
}
.section-heading{
    margin-left: 15px;  
}
.section-heading-active {
    cursor: pointer;
    background-color: #007bff; /* Example active color */
    color: white; /* White text for active headers */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .section-heading-inactive {
    cursor: pointer;
    background-color: #f0f0f0; /* Lighter or gray color for inactive */
    color: #333; /* Darker text for inactive headers */
    padding: 10px;
    margin-bottom: 10px;
  }