body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Styling */

html {
  background-color: #ecdccc;
}
header {
  background-color: #282c34;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-size: 1.5em;
  flex-basis: 20%;
  margin-left: 50px;

}
nav {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;

}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a, nav a:visited {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
#Cart {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  position: relative;
  z-index: 1;
}
.cart-icon {
  padding: 5px;

}
.cart-icon:hover {
  background-color: rgb(184, 184, 184);
  border-radius: 100px;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header h1 {
    margin-bottom: 20px;
    margin-left: 0;
    position: relative;
    z-index: 2;
  }
  nav {
    order: 3;
    flex-direction: row;
    margin-top: 10px;
  }
  nav li {
    margin-right: 50px;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  #Cart {
    width: 100%;
    float: right;
    margin-top: -50px;
    margin-right: 30px;
    justify-content: end;
    order: 1;

  }

}




/* Banner Styling */
#Bannerimg img{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

#Bannertxt {
  position: relative;
  font-family: Playfair Display;
  font-size: 4vw;
  margin-top: -35vw;
  width: 300px;
  margin-left: 70px;
  z-index: 2;
  color: #BF011E;
}
#ShopNow {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}
#ShopBox {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #282c34;
  z-index: 3;
  width: 200px;
  height: 50px;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  #Bannerimg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #Bannerimg img {
    width: 100%;
    height: 60vw;
  }
  #Bannertxt {
    margin-left: 5vw;
    margin-top: -50vw;
    width: 10px;
    text-wrap: nowrap;

  }
  #ShopNow {
    font-size: 4.5vw;
  }
  #ShopBox {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    border-radius: 0%; 
    margin-top: 30vw;
    
  }
}


.scrollboxhome {
  width: 200px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.scrollimgshome {
  width: 150px;
  height: 90px;
  margin-right: 10px;
  
}

.scrollbox {
  width: 200px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scrollbox h4 {
  margin-top: -15px;
  font-size: 10pt;
}
.scrollbox h3 {
  font-size: 15pt;
}
.scrollimgs {
  width: 150px;
  height: 90px;
  margin-right: 10px;
  
}
#HomeMensSection {
  margin-top: 200px;
}
#MenScroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;

}


#HomeWomensSection {
  margin-top: 50px;
}
#WomenScroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}
#Home h2, #Home h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  margin-left: 70px;
}




@media screen and (max-width: 768px) {
  .scrollbox {
    margin: 0 auto;
  }
  .scrollimgs {
    width: 120px;
    height: 70px;
    margin-right: 10px;
    
  }

  .scrollboxhome {
    width: 100%;
    margin-left: 30px;
  }
  #Home h2 {
    margin-left: 5vw;
  }
  #ProductImage {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    padding: 0;
  }
  #HomeMensSection {
    margin-top: 50px;
  }
  #HomeWomensSection {
    margin-top: 50px;
  }
  #MenScroll {
    margin-top: 20px;
  }
  #WomenScroll {
    margin-top: 20px;
  }
  
}



#OurBrand {
  width: 80%;
  margin: 0 auto;
}
#OurBrand img {
  width: 100%;
}


footer {
  width: 100%;
  height: 100px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

#FootLogo {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

footer h1 {
  font-size: 30pt;
  color: white;
  text-decoration: none;
}
.no-underline {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;
  }
  #FootLogo {
    width: 100%;
    height: 50%;
  }
  footer h2 {
    width: 50%;
    text-align: right ;
  }

}





#productlist h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  margin-left: 70px;
}

#productcont {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;

}



/* Kelly CSS */

#ProductImage {
  display: "flex";
  justify-content: "space-between";
  align-items: "left";
  width: "800px";
  height: "450px";
  border: "2px solid pink";
  border-radius: "10px";
  margin-left: "125px";
  margin-right: "100px";
  margin-top: "100px";
  margin-bottom: "50px";
  padding: "50px";
}

.product-details-list li {
  list-style-type: none;
  text-align: left;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonStyle {
  text-align: center;
  background-color: Black;
  color: white;
  font-size: 12px, bold;
  width: 100px;
  height: 30px;
  display: inline-block;
  
}
.buttonStyle:hover, .buttonStyle2:hover {
  background-color: rgb(218, 247, 247);
}
.buttonStyle2 {
  text-align: center;
  background-color: Black;
  color: white;
  font-size: 15px, bold;
  width: 100px;
  height: 30px;
  display: inline-block;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  #ProductImage {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
  }
  .product-details-list li {
    width: 200px;
  }
  .product-container {
    flex-direction: column;
  }
  .buttonStyle {
    width: 100%;
    height: 40px;
  }
  .buttonStyle2 {
    width: 100%;
    height: 40px;
  }
  .btn-container {
    flex-direction: column;
  }

}

@media screen and (max-width: 430px) {
  #ProductImage {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    padding: 0;

  }
  .product-container {
    justify-content: center;
    margin-top: 80px;
  }
}